<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!--Example Setting-->
    <add key="RegistrationUrl" value="http://test.qa.devopsvisions.com/?qa=register&amp;to=" />
    <add key="LogoutUrl" value="http://test.qa.devopsvisions.com/?qa=logout" />
    <add key="UserNameColumn" value="Username" />
    <add key="EmailColumn" value="Email" />
    <!--End of Example setting-->

  </appSettings>
</configuration>